@tailwind components;
@tailwind base;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

.hide-scrollbar {
	-ms-overflow-style: none; // IE and Edge
	scrollbar-width: none; // Firefox

	&::-webkit-scrollbar {
		display: none; // Chrome, Safari, Opera
	}
}

html {
	font-family: 'Inter';
	color: white;
	@apply bg-neutral-900;
}
